#estilo {
padding-left: 11em;
  font-family: Quicksand,
        Times, serif;
  color: purple;
  background-color: #9ed1ef;
}

.colorfuente {
	color:red;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}
